<h2 class="text-center">Job Application List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Number</th>
                <th> Job Title</th>
                <th> Company Name</th>
                <th> Date Applied</th>
                <th> Notes</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let jobApplication of jobApplications">
                <th> {{ jobApplication.id}}</th>
                <td> {{ jobApplication.jobTitle}}</td>
                <td> {{ jobApplication.companyName}}</td>
                <td> {{ jobApplication.dateApplied}}</td>
                <td> {{ jobApplication.notes}}</td>
                <td>
                    <button (click) = "updateJobApplication(jobApplication.id)" class = "btn btn-info"> Update </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>